
/* Bootstrap */
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

code {
  font-size: 80%;
}

.navbar {
    background-color: rgb(84, 164, 255);
    display: flex;
    justify-content: space-between; /* Space out brand and links */
    align-items: center; /* Ensure both brand and links are vertically centered */
    width: 100%; /* Ensure the navbar spans the full width of the screen */
    padding-left: 50px; /* Padding for the left side */
    padding-right: 15px; /* Padding for the right side */
}

.navbar-brand  {
    color: #ffffff !important;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: x-large;
}

.navbar .nav-link {
    color: #ffffff !important;
    transition: color 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: large;
    font-weight: bold;
}

.navbar .navbar-collapse {
    display: flex;
    justify-content: center; /* Center the links container horizontally */
    flex-grow: 1; /* Allow links container to take up the remaining space */
}

.navbar .nav-link:hover {
    color: grey !important;
}