{% extends "layout.html" %}

{% block title %}SecondhandAuto{% endblock %}

{% block content %}
<h1>Market Value</h1>
<form method="POST">
    <div class="form-row">
        <div class="col form-group">
            <legend>
                Search by Year, Make, Model
            </legend>
            <input type="text" class="form-control" id="year" name="year" placeholder="Enter Year" value="{{year}}">
        </div>
    </div>
    <div class="form-row">
        <div class="col form-group">
            <input type="text" class="form-control" id="make" name="make" placeholder="Enter Make" value="{{make}}">
        </div>
    </div>
    <div class="form-row">
        <div class="col form-group">
            <input type="text" class="form-control" id="model" name="model" placeholder="Enter Model" value="{{model}}">
        </div>
    </div>
    <div class="form-row">
        <div class="col form-group">
            <input type="text" class="form-control" id="mileage" name="mileage" placeholder="Enter Mileage" value="{{mileage}}">
        </div>
    </div>
    <button type="submit" class="btn btn-primary mb-3">
        Submit
    </button>
</form>
{% if data %}
    <div class="card mb-3">
        <div class="card-body">
            <h4 class="card-title">{{ data[0] }} {{ data[1] }} {{ data[2] }}</h4>
            <p class="card-text">
                <strong>Estimated Price:</strong> ${{ "{:,}".format(data[5] | int) }}<br>
                    <strong>Price Range:</strong> ${{ "{:,}".format(data[3] | int) }} - ${{ "{:,}".format(data[4] | int) }}<br>
                <strong>We will offer you:</strong> ${{ "{:,}".format(our_price) }}
            </p>
        </div>
    </div>
{% elif error %}
    <p class="text-danger">{{ error }}</p>
{% endif %}
{% endblock %}